<!--<div class="topnav">
  <div class="list-group" *ngIf="display_menu==1">
    <a class="list-group-item" href="/add-subject">Add Subject</a>
    <a class="list-group-item" href="/add-chapter">Add Chapter</a>
    <a class="list-group-item" href="/setup-test">Start Test</a>
    <a class="list-group-item" href="/add-questions">Add Question</a>
    <a class="list-group-item" href="/">Logout</a>add-subject
  </div>
  <a href="javascript:void(0);" class="icon" (click)="display_menu = display_menu * -1">
    <i class="fa fa-bars"></i>
  </a>
</div>-->

