
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h5 class="name-heading">
        <strong>Welcome, Vineet</strong>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-6">
      <a href="/setup-test" class="tile purple">
        <h3 class="title">Learn</h3>
        <p>Select subject</p>
      </a>
    </div>
    <div class="col-sm-6 col-6">
      <a href="/setup-test" class="tile orange">
        <h3 class="title">Test</h3>
        <p>Attend test</p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-6">
      <a href="/add-questions" class="tile green">
        <h3 class="title">Question</h3>
        <p>New Question</p>
      </a>
    </div>
    <div class="col-sm-6 col-6">
      <a href="/add-subject" class="tile green">
        <h3 class="title">Subject</h3>
        <p>New subject</p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-6">
      <a href="/add-chapter" class="tile purple">
        <h3 class="title">Chapter</h3>
        <p>New chapter</p>
      </a>
    </div>
    <div class="col-sm-6 col-6">
      <a href="/st-history" class="tile purple">
        <h3 class="title">ST - History</h3>
        <p>History List</p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-6">
      <a href="javascript:void()" (click)="logout()" class="tile orange">
        <h3 class="title">Logout</h3>
        <p>Logout here</p>
      </a>
    </div>
  </div>
</div>
